{% style %}
  .scrolling-text--{{ section.id }} {
    --move-speed: {{ section.settings.speed }}s;
  }

  .scrolling-text--{{ section.id }} span {
    font-size: {{ section.settings.text_size }}px;
  }

  .scrolling-text--{{ section.id }} .scrolling-text__separator {
    display: inline-block;
  }

  {% if section.settings.color_scheme == 'button' %}
    .scrolling-text--{{ section.id }} {
      background: {{ settings.color_button }};
      color: {{ settings.color_button_text }};
    }
  {% endif %}
{% endstyle %}

{% assign scrolling_text_items = '' %}

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    {% assign block_text = block.settings.text | strip %}
    {% if block_text != blank %}
      {% if scrolling_text_items != blank %}
        {% assign scrolling_text_items = scrolling_text_items | append: '|||' %}
      {% endif %}
      {% assign scrolling_text_items = scrolling_text_items | append: block_text %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if scrolling_text_items == blank %}
  {% assign scrolling_text_items = section.settings.text %}
{% endif %}

{% assign scrolling_text_items = scrolling_text_items | split: '|||' %}

{% if section.settings.link != blank %}
  <a href="{{ section.settings.link }}">
{% endif %}
<div class="scrolling-text scrolling-text--{{ section.id }}">
  <div
    class="scrolling-text__inner scrolling-text__inner--{{ section.settings.direction }}"
    aria-hidden="true"
    tabindex="0"
    style="gap: {% if section.settings.text_spacing %}40px{% else %}10px{% endif %};"
  >
    {% for i in (1..35) %}
      {% for text_item in scrolling_text_items %}
        <span>{{ text_item }}</span>
        {% if section.settings.separator != blank %}
          {% unless forloop.last and forloop.parentloop.last %}
            <span class="scrolling-text__separator">{{ section.settings.separator }}</span>
          {% endunless %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% if section.settings.link != blank %}
  </a>
{% endif %}
